<h2>{{comeTitle}}</h2>
<!-- {{roomList | json}} -->
<table class="table table-success table-striped">
    <tr>
        <th>Room</th>
        <th>Room Name</th>
        <th>amenities</th>
        <th>price</th>
        <th>checkInTime</th>
        <th>Even/Odd</th>
        <th>Index</th>
        <th>rating</th>
        <th>Select room</th>
    </tr>
    <tr [ngClass]="e ? 'even' : 'odd'"
        *ngFor="let room of rooms; let e = even; let o = odd; let i = index">
        <td scope="row">{{room.roomNumber}}</td>
        <td>{{room.roomType | uppercase}}</td>
        <td>{{room.amenities | titlecase}}</td>
        <td>{{room.price | currency:'EUR'}}</td>
        <td>{{room.checkInTime | date:'short'}}</td>
        <td>{{e ? "Even" : "Odd"}}</td>
        <td>{{i | percent}}</td>
        <td>{{room.rating | number:'1.1-3':'en-us'}}</td>
        <td>
            <button type="button" class="btn btn-primary" 
            (click)="selectRoom(room)">select</button>
        </td>
    </tr>

</table>