

<div #name> </div>
<!-- <app-rooms> </app-rooms> -->
<app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
    <h1>Passed to ng-content</h1>

</app-container>





<!-- <div [ngSwitch]="longinType">
    <div *ngSwitchCase="'User'">
        Welcome user
    </div>
    <div *ngSwitchCase="'Admin'">
        Welcome Admin
        <app-rooms></app-rooms>  
    </div>
    <div *ngSwitchDefault>
        You are not allowed to use the page
    </div>
</div> -->

<!-- <div>
     dynamicly load component
    <ng-template #user> </ng-template>
</div> -->
